@model Model.EntityFramework.ProductCategory

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="d-flex">
    <h3 class="mr-auto p-2">THÔNG TIN NAVIGATION</h3>
    <div class="p-2">@Html.ActionLink("Sửa thông tin", "Edit", new { id = Model.ID }, new { @class = "btn btn-success" })</div>
    <div class="p-2">@Html.ActionLink("Back", "Index", null, new { @class = "btn btn-danger" })</div>
</div>
<style>
    dt {
        margin: 3px 0px;
    }
</style>

<div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">General Information</h6>
        </div>
        <div class="card-body">
            <div class="container d-flex justify-content-center">
                <div class="form-horizontal col-md-10">

                    <dl>
                        <dt>
                            Tên mục
                        </dt>

                        <dd>
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control border-left-primary" })
                        </dd>

                        <dt>
                            MetaTitle
                        </dt>

                        <dd>
                            @Html.TextBoxFor(model => model.MetaTitle, new { @class = "form-control border-left-primary" })
                        </dd>

                        <dt>
                            ParentID
                        </dt>

                        <dd>
                            @Html.TextBoxFor(model => model.ParentID, new { @class = "form-control border-left-primary" })
                        </dd>
                        <dt>
                            Thứ tự hiển thị
                        </dt>

                        <dd>
                            @Html.TextBoxFor(model => model.DisplayOrder, new { @class = "form-control border-left-primary" })
                        </dd>

                        <dt>
                            Ngày tạo
                        </dt>

                        <dd>
                            @Html.TextBoxFor(model => model.CreatedDate, new { @class = "form-control border-left-primary" })
                        </dd>

                        <dt>
                            Tạo bởi
                        </dt>

                        <dd>
                            @Html.TextBoxFor(model => model.CreatedBy, new { @class = "form-control border-left-primary" })
                        </dd>

                        <dt>
                            Trạng thái
                        </dt>

                        <dd>
                            @Html.TextBoxFor(model => model.Status, new { @class = "form-control border-left-primary" })
                        </dd>

                    </dl>


                </div>
            </div>
        </div>
    </div>

</div>


