@model Model.EntityFramework.Content
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    dt {
        margin: 3px 0px;
    }
</style>
<div class="d-flex">
    <h3 class="mr-auto p-2">THÔNG TIN TIN TỨC</h3>
    <div class="p-2">@Html.ActionLink("Sửa thông tin", "Edit", new { id = Model.ID }, new { @class = "btn btn-success" })</div>
    <div class="p-2">@Html.ActionLink("Back", "Index", null, new { @class = "btn btn-danger" })</div>
</div>
<div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">General Information</h6>
        </div>
        <div class="card-body">
            <div class="container d-flex justify-content-center">
                <div class="form-horizontal col-md-10">
                        <dl>
                            <dt>
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>

                            <dd>
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control border-left-primary" })
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Description)
                            </dt>

                            <dd>
                                @Html.TextAreaFor(model => model.Description,5,40, new { @class = "form-control border-left-primary" })
                            </dd>

                            <dt>
                                Hình Ảnh
                            </dt>

                            <dd>
                                @Html.TextBoxFor(model => model.Image, new { @class = "form-control border-left-primary" })
                            </dd>                           
                        </dl>
                    </div>
                
            </div>
        </div>
    </div>

</div>

