@model List<Model.ViewModel.ProductViewModel>
    <style>
        .textTruncate {
            word-break: break-all;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break:break-word;
        }
        .setHeight1 {
            height: 275px !important;
        }
    </style>
<div class="tab-pane p-0 fade show active" id="products-sale-tab" role="tabpanel" aria-labelledby="products-sale-link">
    <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
         data-owl-options='{
                                "nav": true,
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "600": {
                                        "items":2
                                    },
                                    "992": {
                                        "items":3
                                    },
                                    "1200": {
                                        "items":4
                                    }
                                }
                            }'>
        @foreach (var item in Model)
        {
            <div class="product product-2">
                <figure class="product-media">
                    <span class="product-label label-circle label-new">Sale</span>
                    <a href="/product/detail/@item.ID">
                        <img src="@item.Image" alt="@item.Detail" class="product-image setHeight1">
                    </a>

                    <div class="product-action-vertical">
                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                    </div><!-- End .product-action -->

                    <div class="product-action product-action-dark">
                        <a data-id="@item.ID" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                    </div><!-- End .product-action -->
                </figure><!-- End .product-media -->

                <div class="product-body">
                    <div class="product-cat">
                        <a href="#">@item.CategoryName</a>
                    </div><!-- End .product-cat -->
                    <h3 class="product-title textTruncate"><a href="/product/detail/@item.ID">@item.Name</a></h3><!-- End .product-title -->
                    @if (item.PromotionPrice > 0)
                    {
                        <div class="d-flex align-center">
                            <div class="product-price" style="text-decoration: line-through; color: #929292">
                                $@item.Price
                            </div><!-- End .product-price -->
                            <div class="product-price ml-2">
                                $@item.PromotionPrice
                            </div><!-- End .product-price -->
                        </div>

                    }
                    else
                    {
                        <div class="product-price">
                            $@item.Price
                        </div><!-- End .product-price -->

                    }
                    <div class="ratings-container">
                        <div class="ratings">
                            <div class="ratings-val" style="width: @(item.Rating/5*100)%;"></div><!-- End .ratings-val -->
                        </div><!-- End .ratings -->
                        <span class="ratings-text">( @(item.CountRating != null ? item.CountRating : 0) Reviews )</span>
                    </div><!-- End .rating-container -->
                </div><!-- End .product-body -->
            </div>
        }
        <!-- End .product -->

    </div><!-- End .owl-carousel -->
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Choose size</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="margin: 10px 10px 0px 10px">
                    <div class="col-10">
                        <select name="size" id="size" class="form-control">
                            <option value="s" selected="selected">Small</option>
                            <option value="m">Medium</option>
                            <option value="l">Large</option>
                            <option value="xl">Extra Large</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <input type="number" id="qty" class="form-control" value="1" min="1" max="10" step="1" data-decimals="0" required>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" id="btnConfirm" value="" class="btn btn-success btn-block">Confirm</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).on("click", ".btn-cart", function () {
        var itemId = $(this).data('id');
        $(".modal-footer #btnConfirm").val(itemId);
        // As pointed out in comments,
        // it is unnecessary to have to manually call the modal.
        $("#myModal").modal();
    });
    $('#btnConfirm').off('click').on('click', function () {
        var size = $("#size option:selected").text();
        $.ajax({
            data: { productID: $(this).val(), quantity: $('#qty').val(), size: size },
            url: '/Cart/AddItem',
            dataType: 'json',
            type: 'POST',
            success: function (res) {
                if (res.status == true) {
                    window.location.reload();
                    var countCart = parseInt($("#cartCount").html());
                    countCart++;
                    $("#cartCount").html('' + countCart);
                    $("#myModal").modal("hide");
                    alert('Added to cart test');
                } else {
                    $("#myModal").modal("hide");
                    alert('Add cart fail');
                }
            }
        })
    });
</script>